**/__pycache__/*
.*.un~
.*.swp
.*.swo
.*~
*.log
*.png
*.bcf
*.aux
*.run.xml
*GitIgnorePdf.pdf
*.blg
*.upb
*.upa
*.bbl
*.out
*.pdf
*.png
.*.swp
*.fdb_latexmk
*.fls
*.synctex.gz
*.sage.py
*.sage~
*.el
*.org~
*smquartics*
*.adjlist
*edge-manifest
*.m~
*.sage~
*.py~
*.md~
*make~
*.backup


*CONFIG*

Z-integration-return-codes.sobj
**/vertex-data/
**/ode-data/
**/periods/
**/process-status/
**/training-data/
**/quartics-cache/
**/edge-data/
**/failed-edges/
**/output-files/
**/process-status/
**/archive/
user_edges
user_edges~
.test_quartics

ai_output
ai_probabilities
**/neural-network/SavedModels/
**/neural-network/TrainingOutputs/
**/neural-network/TestingOutputs/
**/neural-network/EvalOutputs/
**/neural_network_input/

