.*.un~
.*.swp
.*.swo
.*~
*.log
*.png
*.bcf
*.aux
*.run.xml
*GitIgnorePdf.pdf
*.blg
*.upb
*.upa
*.bbl
*.out
*.pdf
*.png
.*.swp
*.fdb_latexmk
*.fls
*.synctex.gz
*.sage.py
*.sage~
*.el
*.org~
*smquartics*
*.adjlist
*edge-manifest
*.m~
*.sage~
*.py~
*.md~
*make~
*/__pycache__/*


src/Z-integration-return-codes.sobj
src/carry-periods.sage.backup
src/edge-data/
src/failed-edges/
src/output-files/
src/process-status/
src/user_input/header.m
src/user_input/header.sage
src/user_input/my_user_edges
src/user_input/user_edges
src/user_input/user_edges~
src/vertex-data/
src/ode-data/
src/periods/
src/ai_output
src/ai_probabilities
src/tests/.test_quartics
src/neural-network/SavedModels/
src/neural-network/TrainingOutputs/
src/neural-network/TestingOutputs/
*CONFIG*
src/neural-network/NNCONFIG.py
src/backup-manifest
src/edge-data-unlabelled/
src/magma/MAGMA_CONFIG
src/neural-network/EvalOutputs/
src/quartics-cache/
src/failed-ode-step/
formerly-missing-safe-write-flag
src/failed-ode-step/
src/magma/MAGMA_CONFIG~
src/archive/
*.backup
tests/.test_quartics